.page {
  &__title {
  text-align: center;
  margin-top: 35px;
  }
  &__filtration {
    display: flex;
    margin-top: 35px;

  }
  &_name {
    width: 370px;
  }
  &_race {
    width: 270px;
    margin-left: 30px;
  }
  &_status {
    width: 270px;
  }
  &__button {
    margin-left: auto;
    width: 60px;
    justify-content: space-between;
  }
  &__button_list {
    border: none;
    outline: none;
  }
  &__button_wrap {
    border: none;
    outline: none;
  }
  &__p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;


  }
}
