.modalAuth {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    text-align:center;
}

.modalContent {

}

.modalAuth.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalForm {
    background: #FFFFFF;
    border: 1px dashed rgba(162, 162, 162, 0.6);
    box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    max-width: 370px;
    max-height: 445px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 230px;
    left: 520px;
    top: 260px;
    top: 260px;
    bottom: 0;
    left: 0;
    right: 0;

}



.modalTitle {
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 54px;
}

.modalButton {
    width: 124px;
    height: 49px;
    margin: 0 auto 35px;
}

.modalCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 54px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;

}

.modalCheckbox {
}

.modalCheckbox input {
    margin-left: 20px;
    margin-right: 10px;
    display: none;
}

.modalPassword {
    display: flex;

}

.modalPassword svg {
    position: absolute;
    left: 300px;
    cursor: pointer;
    top: 20px;
}

.modalCheckbox span {
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:1px;
    margin-right: 10px;
}
[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -2px;
    left: 2px;
    font-size:15px;
    color:#00CA51;
}

.modal4HandRick {
    position: relative;
    bottom: 380px;
    right: 90px
}

.modalMorty {
    position: relative;
    right: 110px;
    bottom: 120px;
}

.modalGreenRick {
    position: relative;
    top: 40px
}

.modalIcon {
    position: absolute;
    padding-bottom: 10px;
    bottom: 225px;
}