.item {
  border: 1px dashed rgba(162, 162, 162, 0.6);
  width: 570px;
  height: 164px;
  margin-top: 35px;
  &:hover {
    box-shadow: 7px 7px 5px grey;
    transition: 0.2s ease-in;
  }

  &__top {
    margin-left: 177px;
    height: 24px;
    max-width: 300px;
    white-space: nowrap;
    display: flex;
    margin-top: 14px;

    &_name {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__variable {
    width: 162px;
    height: 118px;
    margin-left: 15px;
    margin-top: 8px;
    float: left;
  }
  &__image {
    width: 162px;
    height: 164px;
    float: left;
  }

  &__info {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1F4766;
    margin-top: 11px;
  }
  &__fetched {
    width: 210px;
    height: 100px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    float: right;
  }
  &__race {
    display: flex;
    padding-left: 15px;
    margin-top: 17px;
    &_value{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
    &_sample {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #1F4766;
      width: 107px;
      margin-right: 55px;
    }
  }
  &__origin {
    margin-top: 6px;
    display: flex;
    padding-left: 15px;
    &_sample {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #1F4766;
      width: 149px;
      margin-right: 13px;
    }
    &_value {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
  }
  &__location {
    margin-top: 6px;
    display: flex;
    padding-left: 15px;
    &_sample {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #1F4766;
      width: 128px;
      margin-right: 34px;
    }
    &_value {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }
  }
  &__status {
    margin-left: auto;
    display: flex;
    &_mark {
      vertical-align: middle;

    }
    &_value {
      font-weight: 500;
      font-size: 14px;
      color: #000000;
    }
  }
  &__button {
    position: absolute;
    
  }
}
.page__title {
  text-align: center;
  margin-top: 35px;
}


.item-list {
  width: 1170px;
}