.blackButton {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: #000000;
  border-radius: 5px;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #1F4766;
    transition: 0.2s ease-in;
    border: none;
    cursor: pointer;
  }
}