.fav {
  position: relative;
  top: 20px;

  &__button {
    position: absolute;
    border: none;
    background-color: transparent;
    left: 550px;
    bottom: -2px;
  }
  &__horizontal {
    position: absolute;
    left: 10px;
    top: 18px
  }
  &__vertical {
    position: absolute;
    left: 18px;
    top: 11px;
  }
}
