* {
    font-family: "Montserrat",sans-serif;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1170px;
    margin: 0px auto;
    //padding: 0px;

}

.navbar {
    display: flex;
    margin-top: 38px;
    line-height: 56px;
    max-height: 112px;
    align-items: center;
    &__logo{
        width: 112px;
        height: 112px;

    }
    &__list{
        padding: 0;
        display: flex;
        list-style-type: none;
        font-weight: 500;
        font-size: 18px;
        margin-left: 90px;

    }
    &__link{
        margin-left: 28px;
        text-decoration: none;
        color: #000000;
        &:hover {
            color: #FF0000;
            transition: 0.2s ease-in;
        }
        &:active {
            font-weight: 700;
            font-size: 18px;
            //line-height: 22px;
            color: #FF0000;
            text-decoration: underline #FF0000;
        }
    }
    &__user {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 56px;
        margin-left: 350px;
        color: #000000;
        padding-right: 23px;
    }
    &__button {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 56px;
        border-radius: 5px;
        box-sizing: border-box;
        color: #000000;
        background: #F7F7F7;
        width: 124px;
        height: 50px;
        &:hover {
            background: #A1A1A1;
            transition: 0.2s ease-in;
            cursor: pointer;
        }

    }
}

.main {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    &__link {
        text-decoration: none;
    }
    &__block {
        max-width: 330px;
        background: #FFFFFF;
        border: 1px dashed rgba(162, 162, 162, 0.6);
        border-radius: 19px;
        padding: 20px;
        &:hover {
            box-shadow: 7px 7px 5px grey;
            border: 1px solid rgba(162, 162, 162, 0.6);
            transition: 0.2s ease-in;
            cursor: pointer;
        }

    }
    &__image {
        border-radius: 8px;
    }
    &__title {
        margin-top: 18px;
        margin-bottom: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
    }
    &__description {
        margin-top: 18px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
}

/////////////////////ABOUT PAGE STYLES///////////////////

.about {
    &__title {
        margin-top: 35px;
        margin-bottom: 70px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    &__paragraph {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

    }
}